.tree.fifth-level
  .tree-img
    img(src="images/tree/level-5/arbol-gris-5.png")
    img.tree-root(src="images/tree/tronco.png")
    .tree-neuron-root
      moi-neuron.neuron-root(options="treeVm.neurons.root" id='root' level="5")

    .tree-branch(ng-repeat="child in treeVm.neurons.root.children track by $index"
                ng-init="indexLevel2=$index"
                class="branch second-level-{{indexLevel2}} {{child.state}}")
      moi-neuron.neuron(options="child" id='second-level-{{indexLevel2}}' level="5" class="second-level-{{indexLevel2}}")

      .tree-branch(ng-repeat="child1 in child.children track by $index"
                    ng-init="indexLevel3=$index"
                    class="branch third-level-{{indexLevel2*2 + indexLevel3}} {{child1.state}}")
        moi-neuron.neuron(options="child1" id='third-level-{{indexLevel2*2 + indexLevel3}}' level="5" class="third-level-{{indexLevel2*2 + indexLevel3}}")

        .tree-branch(ng-repeat="child2 in child1.children track by $index"
                      ng-init="indexLevel4=$index"
                      class="branch fourth-level-{{$parent.$parent.$index*4 + $parent.$index*6 + $index}} {{child2.state}}")
          moi-neuron.neuron(options="child2" id='fourth-level-{{$parent.$parent.$index*4 + $parent.$index*6 + $index}}' level="5" class="fourth-level-{{$parent.$parent.$index*4 + $parent.$index*6 + $index}}")

          .tree-branch(ng-repeat="child3 in child2.children track by $index"
                      ng-init="indexLevel5=$index"
                        class="branch fifth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}} {{child3.state}}")
            moi-neuron.neuron(options="child3" id='fifth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}' level="5" class="fifth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}")
