.tree.eighth-level
  .tree-img
    img(src="images/tree/level-8/arbol-gris-8.png")
    img.tree-root(src="images/tree/tronco.png")
    .tree-neuron-root
      moi-neuron.neuron-root(options="treeVm.neurons.root" id='root' level="8")

    .tree-branch(ng-repeat="child in treeVm.neurons.root.children track by $index"
                ng-init="indexLevel2=$index"
                class="branch second-level-{{indexLevel2}} {{child.state}}")
      moi-neuron.neuron(options="child" id='second-level-{{indexLevel2}}' level="8" class="second-level-{{indexLevel2}}")

      .tree-branch(ng-repeat="child1 in child.children track by $index"
                    ng-init="indexLevel3=$index"
                    class="branch third-level-{{indexLevel2*2 + indexLevel3}} {{child1.state}}")
        moi-neuron.neuron(options="child1" id='third-level-{{indexLevel2*2 + indexLevel3}}' level="8" class="third-level-{{indexLevel2*2 + indexLevel3}}")

        .tree-branch(ng-repeat="child2 in child1.children track by $index"
                      ng-init="indexLevel4=$index"
                      class="branch fourth-level-{{$parent.$parent.$index*4 + $parent.$index*6 + $index}} {{child2.state}}")
          moi-neuron.neuron(options="child2" id='fourth-level-{{$parent.$parent.$index*4 + $parent.$index*6 + $index}}' level="8" class="fourth-level-{{$parent.$parent.$index*4 + $parent.$index*6 + $index}}")

          .tree-branch(ng-repeat="child3 in child2.children track by $index"
                      ng-init="indexLevel5=$index"
                        class="branch fifth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}} {{child3.state}}")
            moi-neuron.neuron(options="child3" id='fifth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}' level="8" class="fifth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}")

            .tree-branch(ng-repeat="child4 in child3.children track by $index"
                        ng-init="indexLevel6=$index"
                          class="branch sixth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}} {{child4.state}}")
              moi-neuron.neuron(options="child4" id='sixth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}}' level="8" class="sixth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}}")

              .tree-branch(ng-repeat="child5 in child4.children track by $index"
                          ng-init="indexLevel7=$index"
                            class="branch seventh-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}}{{indexLevel7}} {{child5.state}}")
                moi-neuron.neuron(options="child5" id='seventh-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}}{{indexLevel7}}' level="8" class="seventh-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}}{{indexLevel7}}")

                .tree-branch(ng-repeat="child6 in child5.children track by $index"
                            ng-init="indexLevel8=$index"
                              class="branch eighth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}}{{indexLevel7}}{{indexLevel8}} {{child6.state}}")
                  moi-neuron.neuron(options="child6" id='eighth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}}{{indexLevel7}}{{indexLevel8}}' level="8" class="eighth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}}{{indexLevel7}}{{indexLevel8}}")
