ion-view.profile.edit-profile-content(view-title="{{ ::'profile.edit-profile' | translate}}")
  ion-content
    back-button.arrow.back-arrow
    moi-arrow(on-click="toggleDrawer()" orientation="right")
    .frame
      .frame-container.edit-profile-view
        .content.edit-profile
          .row.title-content
            .title-edit-profile.col-80
              {{ ::'profile.my-profile' | translate}}
            .btn-save-changes.col-20(ng-click="vmProfileEdit.editProfile()")
              {{ ::'buttons.save-changes' | translate }}
          .row.content-edit-profile
            .section-photo
              .title-photo
                {{ ::'titles.current-photo' | translate}}
              .content-photo
              .description-photo
                {{ ::'profile.description-photo' | translate }}
              .content-button-photo
                .btn-choose-photo
                  {{ ::'buttons.choose-photo' | translate }}
                .btn-upload-photo
                  {{ ::'buttons.upload-photo' | translate }}
            .section-form.form-container.form-register
              form(name='editProfileForm', novalidate)
                .form-group
                  label.label-register.col-40 {{ ::'register.username' | translate }}:
                  input.col-60(
                    type='text',
                    ng-model='vmProfileEdit.user.username'
                    name='username'
                    required='required',
                    autocomplete='off',
                  )
                  span.error-msg(ng-if='editProfileForm.username.$error.required && editProfileForm.username.$touched')
                    | {{ :: 'msgs.error.required' | translate}}

                .form-group
                  label.label-register.col-40 {{ ::'register.email' | translate }}:
                  input.col-60(
                    type='email',
                    ng-model='vmProfileEdit.user.email'
                    name='email'
                    required='required',
                    autocomplete='off',
                  )

                .form-group
                  label.label-register.label-date  {{ ::'register.age' | translate }}:
                  input.col-60(
                    type='number',
                    min='1',
                    name='age'
                    ng-model='vmProfileEdit.user.age'
                    required='required'
                  )

                .form-group
                  label.label-register.col-40 {{ ::'register.school' | translate }}:
                  input.col-60(
                    type='text',
                    ng-model='vmProfileEdit.user.school'
                    name='school'
                    required='required',
                    autocomplete='off',
                  )

                .form-group
                  label.label-register.col-40 {{ ::'register.city' | translate }}:
                  input.col-60(
                    type='text',
                    ng-model='vmProfileEdit.user.city'
                    name='city'
                    required='required',
                    autocomplete='off',
                  )

                .form-group
                  label.label-register.col-40 {{ ::'register.country' | translate }}:
                  input.col-60(
                    type='text',
                    ng-model='vmProfileEdit.user.country'
                    name='country'
                    required='required',
                    autocomplete='off',
                  )

                .row
                  moi-select-images.select-images-edit(images="vmProfileEdit.images"
                                    on-change="vmProfileEdit.onSelectImage(image)")
      moi-frame(options="vmProfileEdit.frameOptions")
      moi-buttons(options="vmProfileEdit.buttonsOptions")
      .btn-learn
  moi-sidebar
