ion-view.tree-view(view-title='TreeMoi')
  div(ng-if="treeModel.showTree")
    ion-content
      .app-content(id="{{site.idsTreeScreen.view}}")
        back-button.arrow.back-arrow(data-html2canvas-ignore="true")
        .clouds-container
          .cloud.animated.slideInLeft
            img(src="images/nube1L.png")
          .cloud.animated.slideInRight
            img(src="images/nube2L.png")
          .cloud.animated.slideInLeft
            img(src="images/nube3L.png")
        .tree-percentage(data-html2canvas-ignore="true")
          .percentage-container(tooltips
                                tooltip-template="Has descubierto el {{::treeModel.percentage}}% de tu árbol Moi"
                                tooltip-side="left")
            .percentage-progress-bar
              .label
                  | {{::treeModel.percentage}} %
              .percentage-bar(style="width: {{treeModel.percentage}}%")
            img.widget(src="images/tree-percentage-bar.png")
        .level-user
          .level-user-container(data-html2canvas-ignore="true")
            .level-container(tooltips
                            tooltip-template="Tu nivel de aprendizaje es {{::treeModel.userLevel}}"
                            tooltip-side="top")
              .level-progress-bar
                .level-bar(ng-style="treeModel.cssBar" style="height: {{treeModel.percentageLevel}}%")
              img.widget(src="images/tree-user-level.png")
            img.point(ng-style="treeModel.cssPoint"
                      src="images/tree-point-level.png")
            .counter-container
              .counter
                span
                  | {{::treeModel.userLevel}}
                img(src= "images/tree-number-level.png")
        .tree-content(ng-if="::treeModel.isBasicLevel")
          figure.flowerpot
            img.flowerpot-img(src="images/macetaH.png", alt="maceta - tree moi" id="{{site.idsTreeScreen.baseTree}}")
          moi-tree(neurons="::treeModel.neurons" meta="::treeModel.meta")
        .tree-section(ng-if="::!treeModel.isBasicLevel")
          .tree-content
            figure.flowerpot
              img.flowerpot-img(src="images/macetaH.png", alt="maceta - tree moi" id="{{site.idsTreeScreen.baseTree}}")
          .tree-draw
            moi-tree(neurons="::treeModel.neurons" meta="::treeModel.meta")
        .btn-shared-tree(ng-click="treeModel.sharedTree()" data-html2canvas-ignore="true")
      moi-frame(options="treeModel.frameOptions")
  .movies-container(ng-if="!treeModel.showTree")
    .container-loading
      .logo-loading
    moi-videos.vinetas(video-url="{{treeModel.urlVineta}}" video-type="video/mp4" callback="treeModel.finishedAnimation()")
