ion-view(
  view-title="{{ 'login' | translate }}",
  hide-nav-bar="true",
  class="login-view"
)
  ion-content
    moi-sound(sound="sounds/btn_next.mp3" auto-play="false" callback="vm.finishedSound()")
    .row.form-container
      form(ng-submit='vm.login()')
        .login-title
          | {{ ::'login' | translate }}
        .list.list-inset
          label.item.item-input
            input(
              type='email',
              ng-model='vm.loginForm.login',
              required='required',
              placeholder="{{ ::'login.email' | translate }}"
            )
          label.item.item-input
            input(
              type='password',
              ng-model='vm.loginForm.password',
              required='required',
              placeholder="{{ ::'login.password' | translate }}"
            )
        .row.button-actions
          .col
            .button(ui-sref="register", ng-disabled="!vm.isChrome", )
              | {{ 'signup' | translate }}
          .col
            input(
              ng-disabled="!vm.isChrome",
              type='submit',
              value="{{ ::'login' | translate }}"
            ).button
      a.legend-browser(ng-if='!vm.isChrome', href='https://www.google.com/chrome/browser/desktop/index.html')
        | {{ ::'browser.chrome' | translate }}

