.flecha-sidebar(ng-click="arrowVm.onClick()"
                tooltip-moi="{{::arrowVm.name}}"
                tooltip-position="up")
  img(ng-src='{{arrowVm.urlImg}}'
      ng-style="arrowVm.cssOptions.styles[0]"
      ng-mouseover="arrowVm.increaseSize(true, arrowVm.cssOptions, 0)"
      ng-mouseleave="arrowVm.increaseSize(false, arrowVm.cssOptions, 0)")