.moi-frame
  .container-advices(ng-if="frameVm.showAdvices" data-html2canvas-ignore="true")
    .advice(ng-repeat="advice in frameVm.options.advices"
            ng-class="advice.position"
            ng-if='advice.show')
      .box-advice
        .description
          | {{advice.description}}
        .close-button(ng-if="advice.showCloseBtn" ng-click="frameVm.removeAdvice(advice)")
  .container-frame
    img.back-button(ng-if="frameVm.options.showBackButton"
                    ng-class="{'top-left': frameVm.options.type === 'content_max'}"
                    ng-src="{{frameVm.imgBackButton}}")
    img(ng-repeat="piece in frameVm.allPieces track by $index"
        ng-class="frameVm.positions[$index]"
        ng-src="{{piece}}")
