ion-view.friends-container.search-view-max(view-title='Friends')
  ion-content
    .arrow.back-arrow(back-button image-url="images/back-arrow.png")
    moi-arrow(on-click="toggleDrawer()" orientation="right")
    .frame
      .frame-container.main-search-view
        .content-searches
          form(ng-submit='friendsmodel.reloadSearch()')
            label.item.item-input
              input(type='text',
                    required='required',
                    ng-model='friendsmodel.query',
                    placeholder="{{ ::'searches.search' | translate }}")
            input(
                type='submit',
                value=''
              ).button
          .content-title
            | {{ ::'searches.friends' | translate }}
          .divider-line-search
          ion-content.result-searches
            .col.col-25.user(ng-repeat='friend in friendsmodel.users track by $index')
              .content-kind-contents(ui-sref="profile({username: friend.username})")
                  img(src="images/user.png")
                  .user-name
                    | {{friend.username}}
            ion-infinite-scroll(ng-if='!friendsmodel.noMoreItemsAvailable', on-infinite='friendsmodel.loadMore()', distance='10%')
      moi-frame(options="friendsmodel.frameOptions")
  moi-sidebar
