.moi-neuron-wrapper(ng-style="::vm.neuron.styles"
                    tooltips
                    tooltip-template="{{::vm.neuron.name}}")
  a(ui-sref="neuron({neuronId: vm.neuron.id})" )
    img.moi-neuron(ng-src="{{::vm.img}}"
        ng-style="vm.cssOptions.styles[0]"
        ng-mouseover="vm.increaseSize(true, vm.cssOptions, 0)"
        ng-mouseleave="vm.increaseSize(false, vm.cssOptions, 0)"
        style="width:{{vm.currentWidth+'px'}};height:{{vm.currentWidth+'px'}}")
