ion-view.content-view-max(ng-class="vmContent.theme" view-title='Content')
  ion-content
    back-button.arrow.back-arrow
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .frame
      .row.frame-container
        .col.first-col-content
          .row.border-bottom.row-content-title(ng-class="vmContent.theme")
            .content-title
              {{:: vmContent.content.title}}
              img.favorite(ng-if="vmContent.content.favorite" src="images/estrellita.png")
            .corner.title-TR(ng-class="vmContent.theme")
          .row.row-content-text
            .corner.description-TL(ng-class="vmContent.theme")
            .content-text(ng-class="vmContent.theme")
              {{vmContent.content.description}}
              .content-source
                {{vmContent.content.source}}
              .content-update
                .legend-update{{ ::'content.max.update' | translate }}
                .update-date{{vmContent.content.updated_at | date:'dd-MM-yyyy'}}
            .corner.description-TR(ng-class="vmContent.theme")
        .col.second-col-content.border-right.border-left.middle-column-margin-bottom.col-contents(ng-class="vmContent.theme")
          .row.border-bottom(ng-class="vmContent.theme")
            .col.image-center
              img.format-image(
                ng-class='vmContent.currentTransition'
                ng-src='{{vmContent.currentContentImageUrl}}',
                ng-click='vmContent.showImage(vmContent.currentContent)'
              )
            .corner.image-TR(ng-class="vmContent.theme")
          .row
            .col
              .row.text-notes
                .content-subtitle {{ ::'content.max.coments' | translate }}
              .row.container-comments
                textarea.content-comments(ng-class="vmContent.theme"
                                          ng-model='vmContent.content.user_notes'
                                          ng-blur='vmContent.sendNotes()'
                                          ng-disabled='vmContent.readOnly')
        .col.third-col-content
          .row
            .col.content-max-third
              .row.border-third-column(ng-class="vmContent.theme")
                .content-subtitle.content-subtitle-gallery {{ ::'content.max.media' | translate }}
              .row
                slide-gallery(images='vmContent.media', options="vmContent.slideGalleryOptions" item-per-slide='4')
            .corner.gallery-TR(ng-class="vmContent.theme")
          .row
            .col.recomended-margin-top.content-max-third
              .row.border-third-column(ng-class="vmContent.theme")
                .content-subtitle {{ ::'content.max.recommended ' | translate }}
              .row.recommended-contents
                .col.col-50(ng-repeat='content in vmContent.content.recommended')
                  .content-kind-contents(ui-sref="content({neuronId: content.neuron_id, contentId: content.id})")
                   img.format-image(ng-src='{{content.media[0]}}')
                   .leyend-bottom(ellipsis-title="content.title" height="50" title="{{::content.title}}")
            .corner.recomended-TR(ng-class="vmContent.theme")
          .row
            .col.links-margin-top.content-max-third
              .row.border-third-column(ng-class="vmContent.theme")
                .content-subtitle {{ ::'content.max.links ' | translate }}
              .row(ng-repeat="link in vmContent.content.links")
                a(ng-click="vmContent.showAlertExternalLink(link)") {{::link}}
            .corner.links-TR(ng-class="vmContent.theme")
    moi-frame(options="vmContent.frameOptions")
    moi-buttons(options="vmContent.buttonsOptions")
  moi-sidebar
