ion-view.inventory-section(view-title='Inventario')
  div(ng-if="vmInv.showInventory")
    ion-content
      .arrow.back-arrow(back-button image-url="images/back-arrow.png")
      .flecha-sidebar(ng-click="toggleDrawer()")
        img(src="images/flecha_1.png")
      .frame
        .frame-container.main-view
          .inventory-wrapper
            .inventory-sign
              span.sign {{ ::'titles.items' | translate }}
            .inventory-grid
              .tabs-grid
              .gridWrapper
                .cell(ng-style="vmInv.cssOptions.styles[$index]"
                      ng-repeat="achievement in vmInv.achievements track by $index"
                      ng-click="vmInv.activateAchievement(achievement)"
                      ng-mouseover="vmInv.increaseSize(true, vmInv.cssOptions, $index)"
                      ng-mouseleave="vmInv.increaseSize(false, vmInv.cssOptions, $index)"
                      tooltip-moi="{{::achievement.name}}"
                      tooltip-position="up")
                  img(
                      ng-src="{{achievement.settings.badge}}"
                      ng-class="{selected: achievement.active}")
        moi-frame(options="vmInv.frameOptions")
        moi-buttons(options="vmInv.buttonsOptions")
    moi-sidebar
  .movies-container(ng-if="!vmInv.showInventory")
    .container-loading
      .logo-loading
    moi-videos.vinetas(video-url="{{vmInv.urlVideo}}" video-type="video/mp4" callback="vmInv.finishedAnimation()")
